.coinlist__input {
    border-radius: 8px;
    padding: 8px;
}

.coinlist-table {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse; 
}

.coinlist-tr {
    border-bottom: 1px solid rgb(192, 192, 192);
    line-height: 40px;
    margin: auto;
}

.coinlist-th {
    text-transform: uppercase;
    text-align: left;
    color:rgb(192, 192, 192);
}
.coinlist-th:last-of-type {
    text-align: right;
}


.coinlist-th__title__active-sort {
    text-decoration: underline;
}

.coinlist-td__details {
    display: flex;
}

.coinlist--name {
    min-width: 75px;    
}
.coinlist--name:nth-child(3) {
    color:rgb(192, 192, 192);
}

.coinlist-img {
    width: 30px;
    height: 30px;
    margin: 5px 15px 5px 5px;
}

.coinlist--price {
    text-align: right;
}

.coinprice__positive {
    color: #48ef48;
}
.coinprice__negative {
    color: red;
}