.coinlist__input {
    border-radius: 8px;
    padding: 8px;
}


.coinlist-table {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse; 
}

.coinlist-tr {
    border-bottom: 1px solid rgb(192, 192, 192);
    line-height: 56px;
    margin: auto;
}

.coinlist-th {
    text-transform: uppercase;
    text-align: left;
    color:rgb(192, 192, 192);
}
.coinlist-th:last-of-type {
    text-align: right;
}


.coinlist-th__title__active-sort {
    text-decoration: underline;
}

.coinlist-td__details {
    display: flex;
}

.coinlist--name {
    min-width: 75px;    
}
.coinlist--name:last-of-type {
    color:rgb(192, 192, 192);
}
.coinlist--name-container {
    width: 100%;
    display: flex;
}

.coinlist-img {
    width: 43px;
    height: 43px;
    margin: 5px 15px 5px 5px;
}

.coinlist--price {
    text-align: right;
}

.coinlist--arrow-small {
    font-size: 8px;
    margin-right: 5px;
}

.coinlist--percentage-positive {
    color: #48ef48;
}
.coinlist--percentage-negative {
    color: red;
}

@media only screen and (max-width: 700px) {
    .coinlist-td:nth-child(2),
    .coinlist-th:nth-child(2) {
        display: none;
    }
    .coinlist--name-container {
        padding: 5px;
        line-height: 20px;
        display: block;
    }
    .coinlist--name {
        width: 100%;
        display: block;
    }
}